{% extends 'base.html' %}

{% block title %}Inscribirse Tutoría Grupal | SWCAT{% endblock %}

{% block content %}

<main class="container mt-5">

    <h1 class="mb-4">Inscribirse a una Tutoría Grupal</h1>

    {% if messages %}
    <div class="alert alert-danger">
        <ul class="messages list-unstyled">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if tutorias_grupales_disponibles %}
    <h2 class="mb-3">Tutorías Grupales disponibles:</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tutoría</th>
                    <th scope="col">Tutor</th>
                    <th scope="col">Salón</th>
                    <th scope="col" class="text-center">Cupo Disponible</th>
                    <th scope="col">Incribirse</th>
                </tr>
            </thead>
            <tbody>
                {% for tutoria in tutorias_grupales_disponibles %}
                <tr>
                    <td>{{tutoria.idTutoriaGrupal}}</td>
                    <td>{{tutoria.nombreGrupo}}</td>
                    <td>{{tutoria.idTutor.nombre}} {{tutoria.idTutor.apellidoPaterno}}
                        {{tutoria.idTutor.apellidoMaterno}}</td>
                    <td>{{tutoria.salon}}</td>
                    <td class="text-center">{{tutoria.cupoDisponible}}</td>
                    <td><a href="{% url 'inscribirse_tutoria_grupal' tutoria.idTutoriaGrupal %}"
                            class="btn btn-primary inscribirse-link">Inscribirse</a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-warning mt-3" role="alert">
        <h2 class="mb-0">No hay Tutorías Grupales disponibles</h2>
    </div>
    {% endif %}

    <!-- Botón de Regresar -->
    <button type="button" class="btn btn-outline-secondary back-button" onclick="goBack()" style="margin-top: 20px;">
        Regresar
    </button>
</main>

<script>
    // Función para regresar a la página anterior
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %}