{% extends 'base.html' %}

{% block title %}Registrar Tutorado | SWCAT{% endblock %}


{% block content %}

<main class="container mt-5 mb-5">

    <h1 class="text-center mb-4">Registrar Tutorado</h1>

    {% if messages %}
    <div class="alert alert-danger">
        <ul class="messages list-unstyled">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
    </div>
    {% endif %}


    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            {{ form.boletaTutorado.label_tag }}
            {{ form.boletaTutorado }}

            {{ form.email.label_tag }}
            {{ form.email }}

            {{ form.password.label_tag }}
            {{ form.password }}

            {{ form.nombre.label_tag }}
            {{ form.nombre }}

            {{ form.apellidoPaterno.label_tag }}
            {{ form.apellidoPaterno }}

            {{ form.apellidoMaterno.label_tag }}
            {{ form.apellidoMaterno }}

            {{ form.genero.label_tag }}
            {{ form.genero }}

            {{ form.semestre.label_tag }}
            {{ form.semestre }}

            {{ form.telefono.label_tag }}
            {{ form.telefono }}
        </div>

        <!-- Otros campos del formulario -->

        <div class="terminos-container form-group mt-2">
            {{ form.acepta_terminos }}
            <label for="{{ form.acepta_terminos.id_for_label }}">
                He leído y acepto los <a href="#" id="terminos-link">Términos y Condiciones</a>
            </label>
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary btn-block custom-button">Registrarse</button>
        </div>
    </form>

    <!-- Modal para mostrar los Términos y Condiciones -->
    <div class="modal" tabindex="-1" role="dialog" id="terminosModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Términos y Condiciones</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Contenido de tus Términos y Condiciones -->
                    <!-- Puedes incluir el texto directamente o cargarlo dinámicamente desde un archivo o base de datos -->
                    <!-- Contenido de los Términos y Condiciones -->

                    <h1 class="mb-4">Política de Privacidad</h1>

                    <p class="mb-3">Fecha de actualización anterior: 11 de diciembre del 2023</p>
                    <p class="mb-3">Fecha de última actualización: 11 de diciembre del 2023</p>

                    <p class="mb-4">Nuestra Política de Privacidad establece cómo recopilamos, utilizamos y protegemos
                        la información personal que usted proporciona a través del sistema web SWCAT (Sistema Web para
                        apoyo con Chatbot a fin de brindar sesiones de Acompañamiento Tutorial)</p>

                    <h2 class="mb-3">1. Recopilación de Datos Personales:</h2>
                    <p class="mb-4">Los datos que recopilamos cuando un usuario se registra en SWCAT son usados para
                        mejorar la prestación o uso del sistema y el correcto funcionamiento del mismo.</p>

                    <h2 class="mb-3">2. Uso de Datos Personales:</h2>
                    <p class="mb-4">Utilizamos los datos personales recopilados para proporcionar y mejorar el sistema
                        web SWCAT. Usted acepta que se pueda utilizar el correo electrónico que se ingresó para
                        agregarlo como usuario a la cuenta principal de Zoom y así pueda crear y eliminar reuniones de
                        videoconferencia.</p>

                    <h2 class="mb-3">3. Configuración de la cuenta:</h2>
                    <p class="mb-4">Queremos que tenga acceso a sus datos, para que pueda contribuir a mantenerla lo más
                        precisa posible. Si se registra y proporciona información al sistema web SWCAT, puede actualizar
                        y corregir información permitida en cualquier momento revisando la información de su perfil. En
                        caso de desear eliminar su cuenta, favor de ponerse en contacto con la dirección académica de la
                        ESCOM para solicitar una actualización o eliminar su cuenta.</p>

                    <h2 class="mb-3">4. Seguridad de los Datos</h2>
                    <p class="mb-4">Implementamos medidas de seguridad para proteger sus datos personales. Sin embargo,
                        no podemos garantizar la seguridad absoluta de la información transmitida a través de la
                        Aplicación, debido a que ninguna medida de seguridad es perfecta.</p>

                    <h2 class="mb-3">5. Cambios a este Aviso de Privacidad</h2>
                    <p class="mb-3">SWCAT puede modificar o revisar este Aviso de Privacidad de vez en cuando. Cualquier
                        cambio en nuestro Aviso de Privacidad podrá ser visto en el Aviso de Privacidad revisado con una
                        fecha de revisión actualizada en nuestra aplicación web. Si cambiamos este Aviso de manera
                        sustancial, haremos todo lo posible para notificarle de los cambios mediante la publicación de
                        un aviso en nuestro sitio web. Le recomendamos que revise el Aviso de Privacidad cada vez que
                        visite la aplicación web, debe mantenerse informado de nuestras prácticas de privacidad.</p>
                    <p class="mb-4">No realizaremos ningún cambio material en nuestro Aviso de Privacidad que se
                        relacione con la recopilación o el uso de los Datos Personales del Alumno sin notificar primero
                        a la ESCOM o estancia educativa y proporcionar una opción antes de que los datos personales de
                        los usuarios se utilicen de una manera materialmente diferente a la que se divulgó cuando se
                        recopilaron los datos.</p>

                    <p>Usted ha leído y acepta lo estipulado en estos Términos y Condiciones para hacer uso del sistema
                        web SWCAT.</p>

                    <!-- Fin del contenido de los Términos y Condiciones -->




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Botón de Regresar -->
    <button type="button" class="btn btn-outline-secondary back-button" onclick="goBack()" style="margin-top: 20px;">
        Regresar
    </button>

</main>

<script>
    // Función para regresar a la página anterior
    function goBack() {
        window.history.back();
    }

    // Manejar la apertura del modal cuando se hace clic en el enlace
    document.getElementById('terminos-link').addEventListener('click', function () {
        $('#terminosModal').modal('show');
    });

    $(document).ready(function () {
        $('#terminosModal').modal({
            show: false
        });
    });
</script>

{% endblock %}