<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWCAT</title>
</head>

<body>

    <nav>
        <ul>
            {% if not logged_in %}
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="{% url 'registro_tutor' %}">Registro Tutor</a>
            </li>
            <li>
                <a href="{% url 'inicio_sesion_tutor' %}">Inicio Sesión Tutor</a>
            </li>
            <li>
                <a href="{% url 'registro_tutorado' %}">Registro Tutorado</a>
            </li>
            <li>
                <a href="{% url 'inicio_sesion_tutorado' %}">Inicio Sesión Tutorado</a>
            </li>
            {% else %}
            <!-- Mostrar enlace de Cerrar Sesión solo si el usuario ha iniciado sesión o se ha registrado -->
            <li class="nav-item">
                <a href="{% url 'cerrar_sesion' %}" class="nav-link">Cerrar Sesión</a>
            </li>

            {% if rol == 'Tutor' %}
            <li class="nav-item">
                <a href="{% url 'menu' %}" class="nav-link">Menú Tutor</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'crear_tutoria_individual' %}" class="nav-link">Crear Tutoría Individual</a>
            </li>
            {% elif rol == 'Tutorado' %}
            <li class="nav-item">
                <a href="{% url 'menu' %}" class="nav-link">Soy un Tutorado</a>
            </li>
            {% endif %}

            {% endif %}
        </ul>
    </nav>


    {% block content %}

    {% endblock %}

</body>

</html>