{% extends 'base.html' %}

{% block title %}Bitácoras Grupales Tutor | SWCAT{% endblock %}

{% block content %}

<main class="container mt-5">

    <h1 class="text-center">Bitácora del Tutor</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Tutoría</th>
                <th>Tutor</th>
                <th>Nota</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for bitacora in bitacoras_tutor %}
            <tr>
                <td>{{bitacora.idTutoriaGrupal.nombreGrupo}}</td>
                <td>{{bitacora.idTutoriaGrupal.idTutor.nombre}} {{bitacora.idTutoriaGrupal.idTutor.apellidoPaterno}}
                    {{bitacora.idTutoriaGrupal.idTutor.apellidoMaterno}}</td>
                <td>{{bitacora.nota}}</td>
                <td>{{bitacora.fecha}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'bitacora_tutor_tutoriaGrupal' tutoria_id=tutoria_grupal.idTutoriaGrupal %}"
        class="btn btn-primary mb-2 custom-link">Agregar Bitácora</a>

    <!-- Botón de Regresar -->
    <button type="button" class="btn btn-outline-secondary back-button" onclick="goBack()" style="margin-top: 20px;">
        Regresar
    </button>

</main>

<script>
    // Función para regresar a la página anterior
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %}