{% extends 'base.html' %}

{% block title %}Bitácoras Grupales Tutor | SWCAT{% endblock %}

{% block content %}

<main class="container-fluid mt-5 mb-5">

    <h1 class="text-center">Bitácora del Tutor</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tutoría</th>
                    <th>Tutor</th>
                    <th>Nota</th>
                    <th>Área de intervención</th>
                    <th>Fecha</th>
                    <th>Acciones</th> <!-- Nueva columna para acciones -->
                </tr>
            </thead>
            <tbody>
                {% for bitacora in bitacoras_tutor %}
                <tr>
                    <td>{{bitacora.idTutoriaGrupal.nombreGrupo}}</td>
                    <td>{{bitacora.idTutoriaGrupal.idTutor.nombre}} {{bitacora.idTutoriaGrupal.idTutor.apellidoPaterno}}
                        {{bitacora.idTutoriaGrupal.idTutor.apellidoMaterno}}</td>
                    <td>{{bitacora.nota}}</td>
                    <td class="areas-intervencion">
                        {{ bitacora.intervencion|json_script:"areasIntervencionData" }}
                        <div class="areasIntervencionOutput"></div>
                    </td>
                    <td>{{bitacora.fecha}}</td>
                    <td>
                        <a href="{% url 'eliminar_bitacora_grupal_tutoria' id_tutor=tutoria_grupal.idTutor.idTutor id_bitacora=bitacora.idBitacoraGrupalTutor %}"
                            class="btn btn-danger btn-sm">
                            Eliminar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'bitacora_tutor_tutoriaGrupal' tutoria_id=tutoria_grupal.idTutoriaGrupal %}"
        class="btn btn-primary mb-2 custom-link">Agregar Bitácora</a>

    <!-- Botón de Regresar -->
    <button type="button" class="btn btn-outline-secondary back-button" onclick="goBack()" style="margin-top: 20px;">
        Regresar
    </button>

</main>

<script>
    // Función para regresar a la página anterior
    function goBack() {
        window.history.back();
    }


    // Acceder a todos los elementos con la clase "areas-intervencion"
    var areasIntervencionElements = document.querySelectorAll(".areas-intervencion");

    areasIntervencionElements.forEach(function (element) {
        // Obtener el contenido del script dentro del elemento (que contiene datos en formato JSON)
        var areasIntervencionDataScript = element.querySelector("script");
        if (areasIntervencionDataScript) {
            var areasIntervencionData = JSON.parse(areasIntervencionDataScript.textContent);

            // Mostrar los valores en un div dentro del mismo elemento
            var areasIntervencionOutputDiv = element.querySelector(".areasIntervencionOutput");
            if (areasIntervencionOutputDiv) {
                areasIntervencionOutputDiv.textContent = JSON.stringify(areasIntervencionData);
            }
        }
    });
</script>

{% endblock %}