{% extends 'base.html' %}

{% block content %}

<main>
    <h1>Detalle de Tutoría Individual</h1>
    <h2>Nombre de la tutoría: {{ tutoria_individual.nombreTutoriaIndividual }}</h2>
    <p>Tutor: {{tutoria_individual.idTutor.nombre}}</p>
    <p>Tutorado: {{ tutoria_individual.idTutorado.nombre }}</p>
    <!-- Otros detalles de la tutoría individual -->


    <!-- Mostrar las notas del tutor -->
    {% if rol == 'Tutor' %}

    <h3>Reunión '{{ videoconferencia_individual.first.topic }}':</h3>

    {% if videoconferencia_individual %}

    <a href="{{ videoconferencia_individual.first.start_url }}" target="_blank">Iniciar reunión</a>

    <form method="POST" action="{% url 'eliminar_reunion_individual' videoconferencia_individual.first.meeting_code %}">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>

    {% else %}

    <a href="{% url 'crear_reunion_individual'  tutoria_individual.idTutoriaIndividual %}">Crear Reunión</a>

    {% endif %}

    <h3>Bitacora del Tutor:</h3>
    <ul>
        {% for nota in notas_tutor %}
        <li>{{ nota.nota }}</li>
        <p>{{nota.fecha}}</p>
        {% endfor %}
    </ul>
    <!--Para crear una bitacora-->
    <a href="{% url 'crear_bitacora_tutoriaIndividual' tutoria_individual.idTutoriaIndividual%}" class="nav-link">Crear
        Bitacora</a>

    <!-- Mostrar las notas del tutorado -->
    {% elif rol == 'Tutorado' %}

    <h3>Reunión '{{ videoconferencia_individual.first.topic }}':</h3>

    {% if videoconferencia_individual %}

    <a href="{{ videoconferencia_individual.first.join_url }}" target="_blank">Unirse a la reunión</a>

    {% else %}

    <p>Aún no hay enlace para que te puedas unir</p>

    {% endif %}

    <h3>Notas del Tutorado:</h3>
    <ul>
        {% for nota in notas_tutorado %}
        <li>{{ nota.nota }}</li>
        <p>{{ nota.fecha }}</p>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_nota_tutoriaIndividual' tutoria_individual.idTutoriaIndividual%}" class="nav-link">Crear
        Nota</a>

    {% endif %}

</main>

{% endblock %}