{% extends 'base.html' %}

{% block content %}

{% load static %}

<main class="container-fluid d-flex flex-wrap justify-content-center mt-5">

    <div class="container-fluid custom-container-1 col-md-8 mt-5 text-center">
        <h1 class="mt-3">Bienvenido a SWCAT</h1>
        <p class="lead">SWCAT es un sistema web creado para respaldar las Tutorías Individuales, Grupales y de
            Recuperación destinadas a Profesoras/Profesores (Tutores) y Alumnos/Alumnas (Tutorados) pertenecientes a la
            Escuela Superior de Cómputo (ESCOM) del Instituto Politécnico Nacional (IPN)</p>

        <!-- Agrega un enlace que abrirá el modal -->
        <a href="#" class="btn btn-primary inscribirse-link" data-toggle="modal" data-target="#caracteristicasModal">Ver
            Características</a>


        <!-- Define el modal -->
        <div class="modal fade" id="caracteristicasModal" tabindex="-1" role="dialog"
            aria-labelledby="caracteristicasModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="caracteristicasModalLabel">Características de SWCAT</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenido de las características -->
                        <ul class="list-unstyled">
                            <li>
                                <h5><strong>Chatbot Especializado</strong></h5>
                                <p>El sistema incorpora un Chatbot diseñado con la finalidad de abordar y resolver
                                    consultas relacionadas con la acción tutorial y el funcionamiento propio al sistema.
                                </p>
                            </li>
                            <li>
                                <h5><strong>Videoconferencias Integradas</strong></h5>
                                <p>Integra funcionalidades de videoconferencia con el propósito de facilitar las
                                    reuniones y mejorar la eficiencia durante el tiempo de colaboración entre las/los
                                    Tutores y los Tutorados.</p>
                            </li>
                            <li>
                                <h5><strong>Sección "Acerca de Tutorías"</strong></h5>
                                <p>SWCAT dispone de una sección dedicada, denominada "Acerca de Tutorías", que ofrece
                                    Materiales Didácticos específicos vinculados a las tutorías. La finalidad de esta
                                    sección es proporcionar información detallada a la comunidad acerca de los distintos
                                    tipos de tutorías disponibles, sus objetivos, modalidades de participación, entre
                                    otros aspectos relevantes.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary back-button" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid custom-container-1 col-md-4">
        <h2 class="mt-2">Iniciar Sesión</h2>
        <p>Selecciona tu rol para iniciar sesión:</p>
        <a href="{% url 'inicio_sesion_tutor' %}" class="btn btn-primary btn-lg btn-block mb-2 custom-link">Iniciar
            Sesión como
            Tutor</a>
        <a href="{% url 'inicio_sesion_tutorado' %}" class="btn btn-primary btn-lg btn-block mb-2 custom-link">Iniciar
            Sesión como
            Tutorado</a>

        <h2 class="mt-5">Registrarse</h2>
        <p>Selecciona tu rol para registrarte:</p>
        <a href="{% url 'registro_tutor' %}" class="btn btn-primary btn-lg btn-block mb-2 custom-link">Registrarse como
            Tutor</a>
        <a href="{% url 'registro_tutorado' %}" class="btn btn-primary btn-lg btn-block mb-2 custom-link">Registrarse
            como
            Tutorado</a>
    </div>

</main>

{% endblock %}