{% extends 'base.html' %}

{% block content %}

<main class="container">
    <h1 class="mt-5">Bienvenido a SWCAT</h1>
    <p class="lead">La plataforma de tutorías que...</p>

    <section class="mt-5">
        <h2>¿Qué ofrecemos?</h2>
        <p>Explora nuestras características...</p>
    </section>

    <section class="mt-5">
        <h2>Iniciar Sesión</h2>
        <p>Selecciona tu rol para iniciar sesión:</p>

        <a href="{% url 'inicio_sesion_tutor' %}" class="btn btn-primary btn-lg btn-block mb-2 custom-link">Iniciar
            Sesión como Tutor</a>


        <a href="{% url 'inicio_sesion_tutorado' %}" class="btn btn-primary btn-lg btn-block mb-2 custom-link">Iniciar
            Sesión como
            Tutorado</a>
    </section>


    <section class="mt-5">
        <h2>Registrarse</h2>
        <p>Selecciona tu rol para registrarte:</p>

        <a href="{% url 'registro_tutor' %}" class="btn btn-primary btn-lg btn-block mb-2 custom-link">Registrarse como
            Tutor</a>


        <a href="{% url 'registro_tutorado' %}" class="btn btn-primary btn-lg btn-block mb-2 custom-link">Registrarse
            como
            Tutorado</a>
    </section>

    <section class="mt-5">
        <h2>Últimas Actualizaciones</h2>
        <p>Mantente informado sobre las novedades...</p>
    </section>

</main>

{% endblock %}