{% extends 'base.html' %}

{% block content %}

<main>
    <h1>Menú principal del Tutorado</h1>
    <h2>Tutorías Individuales Inscritas</h2>

    {% if tutorias_inscritas %}
    <h2>Tutorías inscritas:</h2>
    <ul>
        {% for tutoria in tutorias_inscritas %}
        <li>
            <a href="{% url 'detalle_tutoriaIndividual' tutoria.idTutoriaIndividual %}">
                Tutoría: {{ tutoria.nombreTutoriaIndividual }} - Tutorado: {{ tutoria.idTutorado.nombre }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tienes tutorías inscritas</p>
    {% endif %}
</main>

{% endblock %}