{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">

    <h1 class="text-center mb-4">Iniciar Sesión Tutor</h1>

    {% if messages %}
    <div class="alert alert-danger">
        <ul class="messages list-unstyled">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <!-- {{ form.numeroEmpleado.label_tag }}
                        {{ form.numeroEmpleado }}

                        {{ form.password.label_tag }}
                        {{ form.password }} -->

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary btn-block" style="width: 100%; text-align: center;">Iniciar
                Sesión</button>
        </div>
    </form>

</main>
{% endblock %}