{% extends 'base.html' %}

{% block content %}

<main>
    <h1>Menú principal del Tutor</h1>

    {% if tutorias_individuales or tutorias_grupales %}
    <h2>Tutorías Individuales a cargo:</h2>
    <ul>
        {% for tutoria in tutorias_individuales %}
        <li>
            <a href="{% url 'detalle_tutoriaIndividual' tutoria.idTutoriaIndividual %}">
                Tutoría: {{ tutoria.nombreTutoriaIndividual }} - Tutorado: {{ tutoria.idTutorado.nombre }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Tutorías Grupales a cargo:</h2>
    <ul>
        {%for tutoria in tutorias_grupales %}
        <li>
            <a href="{% url 'detalle_tutoriaGrupal' tutoria.idTutoriaGrupal %}">
                Tutoría: {{tutoria.nombreGrupo}} -
                Salón: {{tutoria.salon}}</a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>No tienes tutorías a cargo.</p>
    {% endif %}
</main>

{% endblock %}