<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lista de Reuniones</title>
</head>

<body>
    <h1>Lista de Reuniones Programadas</h1>

    <h1>Total de reuniones: {{meetings.total_records}}</h1>
    <ul>
        {% for reunion in meetings.meetings %}
        <li>
            <p><strong>Nombre: </strong>{{reunion.topic}}</p>
            <p><strong>Hora de inicio: </strong>{{reunion.start_time}}</p>
            <p><strong>Duración: </strong>{{reunion.duration}}</p>
            <a href={{reunion.join_url}} target="_blank"><strong>Enlace para unirse: </strong>{{reunion.join_url}}</a>
        </li>
        {% endfor %}
    </ul>
</body>

</ul>